@media(max-width: 900px) {
    #page-home .content {
      align-items: center;
      text-align: center;
    }
  
    #page-home .content header {
      margin: 48px auto 0;
    }
  
    #page-home .content main {
      align-items: center;
    }
  
    #page-home .content main h1 {
      font-size: 42px;
    }
  
    #page-home .content main p {
      font-size: 24px;
    }
  }
  @media (min-width: 1700px){
    #page-home{
        background-position-x:40vw; 
    }
  }

  @media (max-height:760px ){
     #page-home{
          background-position-y:200px; 
     }
  }